.mapDiv {
  height:100% !important;
  width: 100% !important;
}
#map {
  width:98%;
  height:100%;
  background-color:#CCC9C4;
}
.page-map #mapcontent, #map {
  width: 100%;
  height: 100%;
  padding: 0;
}
.esriSimpleSlider {
  top: 70px !important;
  left: 10px !important;
}
#mapOptions {
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 99;
}
#mapOptions img {
  position: relative;
  top: 7px;
  float: right;
}
.mapOptionPanel {
  height: 200px;
  width: 200px;
}
.dijitTitlePaneTextNode {
  width: 90px;
}
/******** Legend *************/
#Legend {
  position: absolute;
  bottom: 55px;
  left: 10px;
  z-index: 41;
  background: #fff;
  border: 2px solid #333;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.LegendColor1 {
  background: rgba(253,204,138,1);
  height: 10px;
  width:10px;
  border: 1px solid #000;
}
.LegendColor2 {
  background: rgba(252,141,89,1);
  height: 10px;
  width:10px;
  border: 1px solid #000;
}
.LegendColor3 {
  background: rgba(227,74,51,1);
  height: 10px;
  width:10px;
  border: 1px solid #000;
}
.LegendColor4 {
  background: rgba(179,0,0,1);
  height: 10px;
  width:10px;
  border: 1px solid #000;
}
#LegendContent {
  color: #000;
  font-weight: normal;
  text-shadow: none;
}
/**** Options Buttons CSS ****/
.popoverMap {
  position: absolute;
  display: none;
  z-index: 108;
  top: 41px;
  right: 20px;
  margin: 0 auto;
  background-color: #fff;
  width: 220px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #707272;
  padding: 0;
  -moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}
.popoverMap:after {
  content: ' ';
  position: absolute;
  width: 37px;
  height: 22px;
  background: url(../img/sort-caret.png) no-repeat;
  right: -5px;
  top: -11px;
}
.closeIcon {
  background: url(../img/close_24x24.png);
}
.chartPopup {
  position: relative;
  height: 250px;
  width: 95%;
  margin: 10px 0 0 2%;
  padding: 0;
}
/** Custom Info Window CSS **/
.myInfoWindow {
  position: absolute;
  display: none;
  z-index: 158;
  top: 70px;
  background-color: #fff;
  width: 90%;
  margin-left: 5%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #707272;
  padding: 0;
  -moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}
.myInfoWindow img {
  position: absolute;
  top: -12px;
  right: -12px;
  z-index: 120;
}
#myInfoWindowTitle {
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}
/** Custom Info Window CSS **/
.indicatorTitleMap {
  display: block;
  border-bottom: 1px solid #b6b3b3;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.57);
  color: #7f7f7f;
  font: 20px/14px GillSans-Regular,"Gill Sans","Gill Sans Regular","Gill Sans MT",sans-serif;
  -moz-box-shadow: 4px 0 10px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 4px 0 10px rgba(0, 0, 0, 0.57);
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.57);
  position: fixed;
  top: 44px;
  background-color: #efefef;
  padding: 15px 0;
  z-index: 1;
  line-height: 17px;
  font-size: 15px;
  width: 90%;
}

#indicatorSelect {
  width:100%;
  z-index:120;
  position: absolute;
  top: 44px;
}
span.customSelect {
  border-bottom: 1px solid #b6b3b3;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.57);
  color: #7f7f7f;
  font: 20px/14px GillSans-Regular,"Gill Sans","Gill Sans Regular","Gill Sans MT",sans-serif;
  -moz-box-shadow: 4px 0 10px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 4px 0 10px rgba(0, 0, 0, 0.57);
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.57);
  background-color: #efefef;
  z-index: 1;
  line-height: 17px;
  font-size: 15px;
}
span.customSelect.changed {
  background-color: #f0dea4;
}
.customSelectInner {
  /*background:url(../img/customSelect-arrow.gif) no-repeat center -10px;*/
}