<div id="home">
  <header>
	<center>
	<div id="logo">
   		<h1>MEASURE DHS MOBILE</h1>
   		<h2>Demographic and Health Surveys</h2>
   	</div>
   	<span id="usaid-logo"><img src='img/usaid.png' /></span>
   	<span id="infobutton"><a href="#">Info</a></span>
   	</center>
   	
   	<div id="infobar">
   	<p>Quality information to plan, monitor, and improve population, health, and nutrition programs</p>
   	<a href="#/Home/About">Info</a>
   	</div>
  </header>
	<!--		
	<ul class="carousel" id="mySlider">
		<li id="education">
			<div>
				<h2>Senegal DHS-MICS 2010-11</h2>
				<p>Just over half (54%) of primary school-age children in Senegal are currently attending primary school.</p>
			</div>
		</li>    
		<li id="hiv">
			<div>
				<h2>Uganda AIS 2011</h2>
		    <p>7.3% of Ugandans age 15-49 are HIV-positive. HIV prevalence is higher among women (8.3%) than among men (6.1%).</p>
		  </div>
		</li>    
		<li id="malaria">
		  <div>
		    <h2>Liberia MIS 2011</h2>
		    <p>37% of children under age 5 and 39% of pregnant women slept under an insecticide-treated net (ITN) the night before the survey.</p>
		  </div>
		</li>    
		<li id="nutrition">
		  <div>
		    <h2>Burkina Faso DHS 2010</h2>
		    <p>Overall, 88% of children age 6 to 59 months in Burkina Faso are anemic.  1in 9 are severely anemic.</p>
		  </div>
		</li>    
		<li id="aids">
		  <div>
		    <h2>Burundi DHS 2010</h2>
		    <p>85% of women and 90% of men know that using condoms can reduce the risk of contracting HIV.</p>
		  </div>
		</li>    
		<li id="family">
		  <div>
		    <h2>Uganda DHS 2011</h2>
		    <p>About one-third (34%) of currently married women have an unmet need for family planning services, with 21% in need of spacing and 14% in need of limiting.</p>
		  </div>
		</li>
	</ul>		
	-->
	<div id='mySlider' class='swipe'>
		  <ul>
		    <li id="education" style='display:none' onclick='changeView("Home/Surveys/Home/365")'>
		    <div>
		    <h2>Senegal DHS-MICS 2010-11</h2>
		    <p>Just over half (54%) of primary school-age children in Senegal are currently attending primary school.</p>
		    </div>
		    </li>
		    
		    <li id="hiv" style='display:none' onclick='changeView("Home/Surveys/Home/373")'>
		    <div>
		    <h2>Uganda AIS 2011</h2>
		    <p>7.3% of Ugandans age 15-49 are HIV-positive. HIV prevalence is higher among women (8.3%) than among men (6.1%).</p>
		    </div>
		    </li>
		    
		    <li id="malaria" style='display:none' onclick='changeView("Home/Surveys/Home/361")'>
		    <div>
		    <h2>Liberia MIS 2011</h2>
		    <p>37% of children under age 5 and 39% of pregnant women slept under an insecticide-treated net (ITN) the night before the survey.</p>
		    </div>
		    </li>
		    
		    <li id="nutrition" style='display:none' onclick='changeView("Home/Surveys/Home/329")'>
		    <div>
		    <h2>Burkina Faso DHS 2010</h2>
		    <p>Overall, 88% of children age 6 to 59 months in Burkina Faso are anemic.  1in 9 are severely anemic.</p>
		    </div>
		    </li>
		    
		    <li id="aids" style='display:none' onclick='changeView("Home/Surveys/Home/346")'>
		    <div>
		    <h2>Burundi DHS 2010</h2>
		    <p>85% of women and 90% of men know that using condoms can reduce the risk of contracting HIV.</p>
		    </div>
		    </li>
		    
		    <li id="family" style='display:block' onclick='changeView("Home/Surveys/Home/399")'>
		    <div>
		    <h2>Uganda DHS 2011</h2>
		    <p>About one-third (34%) of currently married women have an unmet need for family planning services, with 21% in need of spacing and 14% in need of limiting.</p>
		    </div>
		    </li>
		  </ul>
  	   <nav>
	    <span id='position'><em class='on' id="_0">&bull;</em><em id="_1">&bull;</em><em id="_2">&bull;</em><em id="_3">&bull;</em><em id="_4">&bull;</em><em id="_5">&bull;</em></span>
	  </nav>
	</div>
	
		
</div>