<header class="mainHeaderView">
	    <h3>About Us</h3>
    	<div id="ios-arrow-left" onclick="backButton('#/Home')" title="Back"></div>
</header>   
<!--<h1 class="indicator-title">Connect with us on Social Media</h1>-->
<div class="facts">
		<p>The MEASURE DHS project is funded by the U.S. Agency for International Development (USAID) and is implemented by ICF International and partners.  MEASURE DHS Mobile is developed by Blue Raster and ICF International.
	</p>
</div>
<h1 class="info-title"><span style="padding-top: 15px;padding-bottom:15px;">Problems? Questions?</span></h1>
<p>Please contact <a href='mailto:mobile@measuredhs.com'>mobile@measuredhs.com</a> to report problems, comments or suggestions, or visit us at <a href='http://www.measuredhs.com' target="_blank">http://www.measuredhs.com</a></p>
<h1 class="info-title"><span style="padding-top: 15px;padding-bottom:15px;">Connect with us on Social Media</span></h1>
<ul class="icon-grid">
	<li id="facebook">
		<!--<a href='https://www.facebook.com/MEASUREDHS' target="_blank">Facebook</a>-->
		<!-- For iOS Only -->
		<a href='fb://profile/61536500527' target="_blank">Facebook</a>
	</li>
	<li id="twitter">
		<!--<a href='http://twitter.com/measuredhs' target="_blank">Twitter</a>-->
    <!--<a href="twitter://post?message=hello%20world">Twitter</a>-->
    <a href="javascript:void(0)" onclick="window.plugins.childBrowser.showWebPage('https://twitter.com/measuredhs',{ showLocationBar: true })">Follow</a>

    <!--<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>-->
	</li>
</ul>
<div id='updateData' align='center'>
  <button onclick="manualCheckForUpdates()">
    Update
  </button>
  <br>
  <span id='lastUpdated'>{{currentDate}}</span>
</div>

<a href="twitter://user?screen_name=MEASUREDHS">Twitter</a>